.site-menubar-header {
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.site-menubar-header .cover {
    height: 100%;
}

.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.cover {
    overflow: hidden;
}

.site-menubar-header .cover .cover-image {
    height: 100%;
}

.cover-image {
    width: 100%;
}

.overlay-background {
    background: rgba(0,0,0,.5);
}

.overlay-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}

.site-menubar-header .avatar {
    float: left;
    margin-right: 20px;
}

.site-menubar a {
    outline: 0;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: 1000px;
}
.avatar-lg {
    width: 50px;
}

.site-menubar-header .site-menubar-info {
    overflow: hidden;
}

.site-menubar-header .site-menubar-user {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #fff;
}

.site-menubar-header .site-menubar-email {
    margin-bottom: 0;
    font-size: 12px;
    color: rgba(255,255,255,.6);
}