.search__results {
  width: 95%;
}

.search__results .search__results__wrapper {
  margin-top: 5px;
}

.search__results .search__results__wrapper ul {
  list-style: none;
}

.search__results .search__results__wrapper ul li {
  margin: 5px 0;
}

.search__results .search__results__wrapper ul li a {
  color: #757575;
  text-decoration: none;
  display: block;
}

.friends-harmonic .title {
  text-decoration: none;
}

.friends-harmonic ul {
  display: inline-block;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.friends-harmonic ul li {
  float: left;
}

.friends-harmonic ul li:first-child a {
  margin-left: 0;
}

.friends-harmonic ul li a {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #fff;
  display: block;
  margin-left: -10px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  color: #ff5e3a;
  text-decoration: none;
  background-color: transparent;
}

.friends-harmonic ul li a.all-users {
  line-height: 26px;
  opacity: .8;
  color: #fff;
  font-size: 10px;
  font-weight: 800;
}

.friends-harmonic ul li a img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  border-style: none;
}

.group-page .page-header h1 {
  font-size: 36px;
  font-weight: 800;
}

