.justify-content-center {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, .7);
  padding: 20px 0 10px;
  margin-top: 30px;
  //width: 500px;
  //display: flex;
  //justify-content: center;

  .card-header {
    h1 {
      font-family: 'Roboto-Medium', sans-serif;
      font-weight: bold;
      font-size: 30px;
      padding: 10px auto;
      margin: 0 0 30px;
      letter-spacing: 8px;
    }
  }

  input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: darken(#9D9386, 30%);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;

    &::placeholder {
      color: #9D9386;
    }

    &:focus {
      box-shadow: 0 0 15px darken($body-bg, 5%);
      border: 1px solid darken($body-bg, 5%);
    }
  }

  input[type="checkbox"]{
    width: auto;
    //text-align: left;
    //float: left;
    position: relative;
    left: 0;
  }

  button, a {
    //background: $body-bg;
    background: #000;
    color: #fff;
    margin: 10px 0 0;
    //width: 50%;
    //float: left;
    height: 46px;
    padding: 0 15px;
    letter-spacing: 1px;
    transition: all .3s ease;


    //&:first-child {
    //  border-radius: 3px 0 0 3px;
    //  background: #aaa;
    //  color: #fff;
    //
    //  &:hover {
    //    //background: lighten(#aaa, 5%);
    //    background: darken(#aaa, 5%);
    //  }
    //}

    &:hover {
      //transition: ;
      transition-duration: 1ms;
      background: transparent;
      border: 3px solid #000;
      color: #000;
    }
  }

}